<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title  th:text="${title}">Insert title here</title>
</head>
<body>
	<th:block layout:fragment="content">
		<h1 th:text="${title}">Car List</h1>
		
		<div th:if="${cars} != null">
			<table class="datatable" id="carList">
				<tr class="column-header">
					<td>ID</td>
					<td>Brand ID</td>
					<td>Name</td>
					<td>Year</td>
					<td>Price</td>
				</tr>
	
				<th:block th:each="car: ${cars}">
					<tr>
						<td th:text="${car.id}">ID</td>
						<td th:text="${car.brand}">brand</td>
						<td th:text="${car.name}">name</td>
						<td th:text="${car.productionDateFormat}">Year</td>
						<td th:text="${car.price}">Price</td>
					</tr>
				</th:block>
				
			
			</table>
		</div>
	</th:block>
</body>

</html>